.plugin-mentions-a {
	font-color: #3a87ad;
	background: #d9edf7;
	border: 1px solid #bce8f1;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 0.1em 0.3em;
}

.plugin-mentions-a i {
	font-size: 0.9em;
}

.plugin-mentions-a i.online {
	color: #468847;
}

.plugin-mentions-a i.offline {
	color: #b94a48;
}